* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #eef1f5;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.12);
}

.card h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #444;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea, select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

input:focus, textarea:focus, select:focus {
    border-color: #04bb1c;
    box-shadow: 0px 0px 4px #013a08;
}

textarea {
    resize: vertical;
    height: 80px;
}

.btn {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-primario {
    background-color: #04bb1c;
    color: white;
    transition: 0.2s;
}

.btn-primario:hover {
    background-color: #013a08;
}

.btn-perigo {
    background-color: #e53935;
    color: white;
}

.btn-perigo:hover {
    background-color: #b71c1c;
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tarefa {
    background: #f9fafc;
    padding: 15px;
    border-radius: 10px;
    border-left: 6px solid #ccc;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.tarefa .titulo {
    font-weight: bold;
    font-size: 18px;
    color: #222;
}

.tarefa .descricao {
    margin: 5px 0;
    color: #555;
}

.tarefa .status {
    font-size: 14px;
    font-weight: bold;
}

.status-pendente {
    color: #e67e22;
}

.status-progresso {
    color: #0078ff;
}

.status-concluida {
    color: #2ecc71;
}

.botoes {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.datas {
    font-size: 12px;
    color: #030303;
    margin-top: 4px;
}

.data-conclusao {
    color: green;
}

